<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.bermanngatecontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bermanngps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bermanngps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.QrScannerActivity" />
        <activity android:name=".Activities.ResultActivity" />
        <activity android:name=".Activities.ChoferStatusActivity"/>

        <receiver
            android:name=".Services.BroadcastBootService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.SyncChoferes"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.SyncGaritas"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>